.about {
  padding: 120px 0 235px;

  @include vp-1199 {
    padding: 100px 0 183px;
  }

  @include vp-767 {
    padding: 63px 0 70px;
  }
}

.about__container {
  display: grid;
  grid-template-columns: 355px 1fr;
  gap: 85px;
  padding-left: 80px;

  @include vp-1199 {
    grid-template-columns: 1fr;
    gap: 43px;
  }

  @include vp-767 {
    gap: 33px;
    padding: 0;
  }
}

.about__description {
  padding-top: 39px;

  @include vp-1199 {
    padding-top: 0;
    text-align: center;
  }

  @include vp-767 {
    padding: 0 15px;
    text-align: start;
  }
}

.about h2 {
  margin: 0;
  margin-bottom: 7px;
  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.03em;

  @include vp-1199 {
    margin-left: -15px;
    margin-bottom: 0;
    font-size: 42px;
    line-height: 50px;
  }

  @include vp-767 {
    margin-left: 0;
    margin-bottom: 5px;
    font-size: 32px;
    line-height: 38px;
  }
}

.about p {
  margin: 0;
  margin-bottom: 40px;
  font-family: $ff-roboto;
  font-size: 18px;
  line-height: 27px;

  @include vp-1199 {
    margin-bottom: 35px;
  }

  @include vp-767 {
    margin-bottom: 25px;
  }
}

.about__text {
  @include vp-1199 {
    max-width: 510px;
    margin: 0 auto;
  }

  @include vp-767 {
    padding-right: 30px;
    margin: 0;
  }
}

.about__text p {
  margin: 0;
  margin-bottom: 8px;
  font-family: $ff-roboto;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;

  @include vp-1199 {
    margin-bottom: 0;

    &:last-child {
      display: none;
    }
  }

  @include vp-767 {
    margin-bottom: 0;
  }
}

.about__media {
  position: relative;
}

.about__image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 60.7%;

  @include vp-1199 {
    max-height: 100%;
    height: 345px;
    padding-bottom: 50.8%;
    overflow: hidden;
  }

  @include vp-767 {
    height: 313px;
    margin-bottom: 40px;
  }
}

.about__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-spindle;
  object-fit: cover;

  @include vp-1199 {
    transform: scale(1.13);
    object-position: -38px 20px;
    object-fit: fill;
  }

  @include vp-767 {
    transform: none;
    object-position: 90%;
    object-fit: cover;
  }
}

.about__video {
  position: absolute;
  bottom: 0;
  left: -63px;
  transform: translateY(50%);

  @include vp-1199 {
    left: 50%;
    transform: translate(-50%, 50%);
  }

  @include vp-767 {
    position: relative;
    left: 0;
    transform: none;
  }
}
