.header {
  background: $conic-desktop;
}

.header__container {
  padding-top: 30px;
  padding-bottom: 51px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header__link {
  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: $color-default-white;
}
