.main__wrapper {
  background: $blue-to-left;
  border-top: 1px solid $color-light-slate-gray;

  @include vp-1199 {
    background: none;
    border: none;
  }

  & .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include vp-1199 {
      grid-template-columns: 1fr;
      padding: 0;
    }
  }
}
