.trainers__swiper {
  position: relative;
  height: 294px;
}

.trainers__button {
  position: absolute;
  top: 50%;
  left: 0;
  width: 16px;
  height: 32px;
  margin: 0;
  color: $color-dark-gray;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.trainers__container {
  padding-bottom: 91px;

  @include vp-1199 {
    padding-left: 101px;
    padding-right: 101px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-left: 47px;
    padding-right: 47px;
    padding-bottom: 70px;
  }
}

.trainers h2 {
  margin-top: 0;
  margin-bottom: 48px;
  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;

  @include vp-1199 {
    margin-bottom: 31px;
    font-size: 42px;
    line-height: 50px;
    text-align: center;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 42px;
  }
}

.trainers__list {
  height: 294px;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;

  &--no-js {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;

    @include vp-1199 {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }

    @include vp-767 {
      grid-template-columns: 1fr;
    }
  }
}
