.trainers {
  display: flex;
  padding: 0 45px;

  @include vp-1199 {
    padding: 0;
  }
}

.trainers__container {
  position: relative;
  padding-bottom: 91px;

  @include vp-1199 {
    padding-left: 101px;
    padding-right: 101px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-left: 47px;
    padding-right: 47px;
    padding-bottom: 70px;
  }
}

.trainers__swiper {
  position: relative;
}

.trainers__button {
  position: absolute;
  top: 52%;
  left: -3%;
  z-index: 1;
  width: 18px;
  height: 34px;
  padding: 0;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;

  @include vp-1199 {
    top: 48%;
    left: 5.86%;
  }

  @include vp-767 {
    width: 12px;
    height: 21px;
    top: 51.3%;
    left: 4.69%;
  }

  & svg {
    stroke: $color-dark-gray;

    @include vp-767 {
      width: 12px;
      height: 21px;
    }
  }

  &--next {
    right: -3%;
    left: auto;

    @include vp-1199 {
      right: 5.85%;
      left: auto;
    }

    @include vp-767 {
      right: 4.69%;
      left: auto;
    }
  }

  &--next svg {
    transform: rotate(180deg);
  }

  @include hover-focus {
    & svg {
      stroke: $color-black-russian;
    }
  }

  & .no-js {
    display: none;
  }
}

.trainers h2 {
  margin-top: 0;
  margin-bottom: 48px;
  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;

  @include vp-1199 {
    margin-bottom: 31px;
    font-size: 42px;
    line-height: 50px;
    text-align: center;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 42px;
  }
}

.trainers__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  & .no-js {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;

    @include vp-1199 {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }

    @include vp-767 {
      grid-template-columns: 1fr;
    }
  }
}
